@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
    font-family: 'Source Code Pro', monospace;
}

.section {
    margin-bottom: 30px;
    margin-top: 20px;
}

.cv_section {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.sectionTitle {
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.userName {
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
}

.userInfo {
    display: flex;
    flex-direction: row;
}

.userInfoTable {
    margin: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.userInfoTable td {
    padding: 3px 70px 3px 30px;
}

.userInfoTable th {
    text-align: left;
}

.personalDataForm {
    display: flex;
    flex-direction: column;
}

.personalDataForm span {
    display: inline-block;
}

.personalDataForm label {
    display: inline-block;
    width: 300px;
    margin: 15px;
}